@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700');

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: #14142d;
}

pre, code {
  white-space: normal;
  word-break: break-all;
}

.silver { color: #8b98a3; }

.my-1 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.rounded {
  border-radius: 5px;
}